 /* inter-300 - latin_latin-ext */
 @font-face {
   font-display: swap;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   src:
     local('Inter'),
     url('./assets/fonts/inter-v20-latin_latin-ext-300.woff2') format('woff2'),
     url('./assets/fonts/inter-v20-latin_latin-ext-300.ttf') format('truetype');
 }

 /* inter-300italic - latin_latin-ext */
 @font-face {
   font-display: swap;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 300;
   src: local('Inter'),
     url('./assets/fonts/inter-v20-latin_latin-ext-300italic.woff2') format('woff2'),
     url('./assets/fonts/inter-v20-latin_latin-ext-300italic.ttf') format('truetype');
 }

 /* inter-500 - latin_latin-ext */
 @font-face {
   font-display: swap;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   src: local('Inter'),
     url('./assets/fonts/inter-v20-latin_latin-ext-500.woff2') format('woff2'),
     url('./assets/fonts/inter-v20-latin_latin-ext-500.ttf') format('truetype');
 }

 /* inter-500italic - latin_latin-ext */
 @font-face {
   font-display: swap;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 500;
   src: local('Inter'),
     url('./assets/fonts/inter-v20-latin_latin-ext-500italic.woff2') format('woff2'),
     url('./assets/fonts/inter-v20-latin_latin-ext-500italic.ttf') format('truetype');
 }

 /* inter-700 - latin_latin-ext */
 @font-face {
   font-display: swap;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   src: local('Inter'),
     url('./assets/fonts/inter-v20-latin_latin-ext-700.woff2') format('woff2'),
     url('./assets/fonts/inter-v20-latin_latin-ext-700.ttf') format('truetype');
 }

 /* inter-700italic - latin_latin-ext */
 @font-face {
   font-display: swap;
   font-family: 'Inter';
   font-style: italic;
   font-weight: 700;
   src: local('Inter'),
     url('./assets/fonts/inter-v20-latin_latin-ext-700italic.woff2') format('woff2'),
     url('./assets/fonts/inter-v20-latin_latin-ext-700italic.ttf') format('truetype');
 }

 /* jetbrains-mono-300 - latin */
 @font-face {
   font-display: swap;
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-weight: 300;
   src:
     local('JetBrains Mono'),
     url('./assets/fonts/jetbrains-mono-v24-latin-300.woff2') format('woff2'),
     url('./assets/fonts/jetbrains-mono-v24-latin-300.ttf') format('truetype');
 }

 /* jetbrains-mono-300italic - latin */
 @font-face {
   font-display: swap;
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-weight: 300;
   src: local('JetBrains Mono'),
     url('./assets/fonts/jetbrains-mono-v24-latin-300italic.woff2') format('woff2'),
     url('./assets/fonts/jetbrains-mono-v24-latin-300italic.ttf') format('truetype');
 }

 /* jetbrains-mono-500 - latin */
 @font-face {
   font-display: swap;
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-weight: 500;
   src: local('JetBrains Mono'),
     url('./assets/fonts/jetbrains-mono-v24-latin-500.woff2') format('woff2'),
     url('./assets/fonts/jetbrains-mono-v24-latin-500.ttf') format('truetype');
 }

 /* jetbrains-mono-500italic - latin */
 @font-face {
   font-display: swap;
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-weight: 500;
   src: local('JetBrains Mono'),
     url('./assets/fonts/jetbrains-mono-v24-latin-500italic.woff2') format('woff2'),
     url('./assets/fonts/jetbrains-mono-v24-latin-500italic.ttf') format('truetype');
 }

 /* jetbrains-mono-700 - latin */
 @font-face {
   font-display: swap;
   font-family: 'JetBrains Mono';
   font-style: normal;
   font-weight: 700;
   src: local('JetBrains Mono'),
     url('./assets/fonts/jetbrains-mono-v24-latin-700.woff2') format('woff2'),
     url('./assets/fonts/jetbrains-mono-v24-latin-700.ttf') format('truetype');
 }

 /* jetbrains-mono-700italic - latin */
 @font-face {
   font-display: swap;
   font-family: 'JetBrains Mono';
   font-style: italic;
   font-weight: 700;
   src: local('JetBrains Mono'),
     url('./assets/fonts/jetbrains-mono-v24-latin-700italic.woff2') format('woff2'),
     url('./assets/fonts/jetbrains-mono-v24-latin-700italic.ttf') format('truetype');
 }

 @import 'tailwindcss';

 :root {
   --font-sans: 'Inter', Arial, Helvetica, sans-serif;
   --font-mono: 'JetBrains Mono', monospace;

   --color-primary: #ffffff;
   --color-primary-a: #eeeeee;

   --color-secondary: #000000;
   --color-secondary-a: #111111;

   --color-tertiary: #0071e3;
   --color-tertiary-a: #2686E7;
   --color-tertiary-b: #61A7EE;
   --color-tertiary-c: #80B8F1;
   --color-tertiary-d: #9EC9F4;
   --color-tertiary-e: #D9EAFB;

   --color-error: #b3261e;


   --color-5: #1EB361;

   --color-neutral-a: #262626;
   --color-neutral-b: #616161;
   --color-neutral-c: #808080;
   --color-neutral-d: #9e9e9e;
   --color-neutral-e: #d9d9d9;
 }

 @theme {
   --font-sans: var(--font-sans);
   --font-mono: var(--font-mono);

   --color-primary: #ffffff;
   --color-primary-a: #eeeeee;

   --color-secondary: #000000;
   --color-secondary-a: #111111;

   --color-tertiary: #0071e3;
   --color-tertiary-a: #2686E7;
   --color-tertiary-b: #61A7EE;
   --color-tertiary-c: #80B8F1;
   --color-tertiary-d: #9EC9F4;
   --color-tertiary-e: #D9EAFB;

   --color-c-error: #b3261e;

   --color-c-5: #1EB361;

   --color-neutral-a: #262626;
   --color-neutral-b: #616161;
   --color-neutral-c: #808080;
   --color-neutral-d: #939393;
   --color-neutral-e: #d9d9d9;

   --spacing-8-16: clamp(0.5rem, 0.3846rem + 0.5128vw, 1rem);
   --spacing-16-24: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
   --spacing-16-80: clamp(1rem, 0.0769rem + 4.1026vw, 5rem);

   --breakpoint-sm: 40rem;
   --breakpoint-md: 48rem;
   --breakpoint-lg: 64rem;
   --breakpoint-xl: 80rem;
   --breakpoint-wd: 96rem;
   --breakpoint-uw: 128rem;

 }

 .material-symbols-outlined {
   font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
 }

 .text-l9 {
   font-size: calc((160/16) * 1rem);
   line-height: 1.2;
 }

 .text-l8 {
   font-size: calc((128/16) * 1rem);
   line-height: 1.2;
 }

 .text-l7 {
   font-size: calc((96/16) * 1rem);
   line-height: 1.2;
 }

 .text-l6 {
   font-size: calc((80/16) * 1rem);
   line-height: 1.3;
 }

 .text-l5 {
   font-size: calc((64/16) * 1rem);
   line-height: 1.3;
 }

 .text-l4 {
   font-size: calc((48/16) * 1rem);
   line-height: 1.3;
 }

 .text-l3 {
   font-size: calc((40/16) * 1rem);
   line-height: 1.4;
 }

 .text-l2 {
   font-size: calc((32/16) * 1rem);
   line-height: 1.4;
 }

 .text-l1 {
   font-size: calc((24/16) * 1rem);
   line-height: 1.4;
 }

 .text-lg {
   font-size: calc((20/16) * 1rem);
   line-height: 1.5;
 }

 .text-md {
   font-size: calc((16/16) * 1rem);
   line-height: 1.5;
 }

 .text-sm {
   font-size: calc((14/16) * 1rem);
   line-height: 1.5;
 }

 .text-s1 {
   font-size: calc((12/16) * 1rem);
   line-height: 1.6;
 }

 .text-s2 {
   font-size: calc((10/16) * 1rem);
   line-height: 1.6;
 }


 body {
   font-family: var(--font-sans);
   font-weight: 500;

   background: var(--color-primary);
   color: var(--color-secondary);
 }

 button:not([disabled]),
 a {
   @apply cursor-pointer
 }